ul{
 background-image: linear-gradient(90deg,rgb(230, 215, 13),rgb(36, 209, 20));
list-style:none ;
text-align: center;
border-radius: 10px;
    }
    li{
        display: inline;
        padding: 15px;  
    }
    li:hover{
        background-color: aqua;
        border-radius: 5px;
    }
    a{
        text-decoration: none;
        color: black;
    }